<br />
<h2>Your Orders</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3">Email</th>
      <th>Pay type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td colspan="3"><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= link_to 'show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>